<input type="text" name="nasaSearch" placeholder="search" #search/>
<button *ngIf="auth.isAuthenticated()" type="submit" (click)="searchNasa(search.value)">Search</button>
<a routerLink="/home"><button *ngIf="auth.isAuthenticated()" >home</button></a>
<a routerLink="/profile"><button *ngIf="auth.isAuthenticated()" >Profile</button></a>
<a routerLink="/home"><button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</button></a><br>
<p *ngIf='searching'>Fetching data...</p>
<div *ngFor="let image of imageLinks; let i = index">
<h4>Title: {{ imageNames[i]}}</h4>
<img src='{{ image }}' style="height:25%;width:25%;">
<button type="submit" value='{{ image }}' #button (click)='addImageToCollection(button.value, collection.value)'>Add to collection</button>
    <select #collection>
        <option *ngFor ='let x of othercollections'  >{{x}}</option>
    </select><br>
</div>