<button *ngIf="!auth.isAuthenticated()"(click)="auth.login()">Log In</button>
<button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</button>
<h4 *ngIf="auth.isAuthenticated()">
  You are logged in!
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
<a routerLink="/profile"><button *ngIf="auth.isAuthenticated()" >Profile</button></a><br>
<h1>About</h1>
<hr>
<p>This site allows users to create new image collections and search the NASA api for new images to add to the collections. You can also view other users collections and rate them from 1-10.</p><br>
<div *ngFor ='let x of objectArray; let i = index'>
  <h4 style="display:inline;">Collection: {{ x.name }}</h4><br>
    <p>Rating: {{objectArray[i].rating}}</p>
    <button (click) = "rateCollection(x.name, rating.value)">Rate</button>
    <select #rating>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
    </select>
    <br>
  <div *ngFor ='let y of myarray[i]' style="display: inline-block;">
    <img src='{{y}}' style="height:230px;width:230px;">
  </div>
</div>
<a routerLink='/policy'>Privacy Policy/ DMCA Policy</a>