<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <div class="topbar">
      <h1>Welcome to Nasa Pictures</h1>
      <button id="loginButton" type="button">Login</button>
      <button id="signupButton" type="button">Signup</button>
    </div>
    <div class="about">
      <h1>About</h1>
      <hr>
      <p>
        Welcome to Nasa Pictures. Here you can search through hundreds of Nasa images, add them to your own collections of images, and share them with your friends.
      </p>
    </div>
</body>
</html>

