<h4>Create a collection to add pics to later</h4>
<a routerLink="/home"><button *ngIf="auth.isAuthenticated()" >home</button></a>
<a routerLink="/profile"><button *ngIf="auth.isAuthenticated()" >Profile</button></a>
<a routerLink="/home"><button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</button></a><br>

Name: <input type="text" placeholder="Collection name" #name/><br>
Description: <input type="text" placeholder="Collection description" #description/><br>
Visibilty:  <select #visibility>
            <option value="Public">Public</option>
            <option value="Private">Private</option>
            </select><br>
<a routerLink="/profile"><button *ngIf="auth.isAuthenticated()" (click)="addCollection(name.value, description.value, visibility.value)">Create Collection</button></a>



