<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <div class="topbar">
      <h1>Welcome to Nasa Pictures</h1>
      <input type="text" name="username" placeholder="email" id='username' #username required/>
      <input type="password" name="password" placeholder="password" id='password' #password required/>
      <button id="loginButton" type="submit" (click)="userLogin(username.value, password.value)">Login</button>
      <a routerLink='/register'><button id="signupButton" type="submit" >Signup</button></a>
    </div>
</body>
</html>
